div{
    height: 200px;
    width: 200px;
    background-image: url(https://images.unsplash.com/photo-1433086966358-54859d0ed716?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8bmF0dXJlfGVufDB8fDB8fHww);
    background-size: cover;
    color: white;
    position: fixed;
    right: -10px;
    
}
#para{
    padding-right: 200px;
}

